# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
cfCache/
logs/
/metabase/
.env
mappings/
meta/
data/
bot.properties
envs