# project-specific
run/*
metabase/
mappings/
meta/
data
cfCache/
logs/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
.env
envs
