<configuration>
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d %green([%thread]) %highlight(%level) %logger{50}/%marker - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>
    <root level="WARN">
        <appender-ref ref="DISCORD"/>
    </root>
</configuration>